.cosmaincontainer {
  font-family: "Roboto", sans-serif;
}
.cosmain {
  display: flex;
  height: 80vh;
  padding: 50px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.costext {
  flex: 1;
  font-size: 2rem;
  text-align: left;
  position: relative;
  top: 35%;
  left: 20px;
}
.costext p {
  font-size: 1rem;
}
.cosbutton {
  color: whitesmoke;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  transition: all 0.5s ease;
  line-height: 20px;
}
.cosbutton:hover {
  background-color: whitesmoke;
  color: black;
}
.coscard {
  flex: 1;
  align-items: center;
  display: flex;
}
.cosimg {
  width: 700px;
  right: 0%;
  left: 15%;
  position: relative;
  height: 600px;
  background: url(../../img/img6.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.cosrow {
  background-color: whitesmoke;
  height: 100vh;
}
.cosp {
  color: whitesmoke;
}
.coscol1 {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.coscol2 {
  display: flex;
  height: 85vh;
  justify-content: space-around;
}

.coscard2 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img5.webp);
  background-size: cover;
  transition: all 0.5s ease;
}
.coscard3 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img7.webp);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.coscard4 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background-image: url(../../img/img8.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}

.cosh2 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  text-align: center;
  padding: 40px;
  margin: 0px;
}
.cosh5 {
  text-align: left;
  color: whitesmoke;
}
