.lensmaincontainer {
  font-family: "Roboto", sans-serif;
}
.lensmain {
  display: flex;
  height: 80vh;
  padding: 50px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.lenstext {
  flex: 1;
  font-size: 2rem;
  text-align: left;
  position: relative;
  top: 35%;
  left: 20px;
}
.lenstext p {
  font-size: 1rem;
}
.lensbutton {
  color: whitesmoke;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  transition: all 0.5s ease;
  line-height: 20px;
}
.lensbutton:hover {
  background-color: whitesmoke;
  color: black;
}
.lenscard {
  flex: 1;
  align-items: center;
  display: flex;
}
.lensimg {
  width: 700px;
  right: 0%;
  left: 15%;
  position: relative;
  height: 600px;
  background: url(../../img/img8.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.lensrow {
  background-color: whitesmoke;
  height: 100vh;
}
.lensp {
  color: whitesmoke;
}
.lenscol1 {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.lenscol2 {
  display: flex;
  height: 85vh;
  justify-content: space-around;
}

.lenscard2 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img6.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.lenscard3 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img7.webp);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.lenscard4 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background-image: url(../../img/img5.webp);
  background-size: cover;
  transition: all 0.5s ease;
}
.lensfollow {
  background-color: rgb(0, 0, 0);
  justify-content: center;

  text-align: center;
  padding: 5rem;
}

.lensh2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 20px;
  margin: 0px;
}
.lensh5 {
  text-align: left;
  color: whitesmoke;
}
