.homefontclass {
  font-family: "metrofont";
}
.homemaindiv {
  display: flex;
  height: 90vh;
  padding: 50px;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.homename {
  font-size: 4rem;
  margin: 1px;
  color: whitesmoke;
}
.homep1 {
  font-family: "cursivefont";
  font-size: 2rem;
  color: whitesmoke;
}
.homediv {
  flex: 1;
  font-size: 2rem;
  text-align: left;
  position: relative;
  left: 20px;
}
.homep {
  font-size: 1.15rem;
}
.homecard {
  flex: 1;
  align-items: center;
  display: flex;
}
.homeimg {
  width: 700px;
  right: 0%;
  left: 15%;
  position: relative;
  height: 600px;
  width: 600px;
  background: url(https://images.squarespace-cdn.com/content/v1/5c4d7e227e3c3a6ec70a5ac7/1557605820203-LRJN96YJ3HTBHT0ZPCS6/A6540444.jpg?format=750w);
  background-size: cover;
  border: none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), inset 5px 5px 10px rgb(0, 0, 0),
    inset 70px 70px 100px rgb(0, 0, 0), inset -100px -100px 100px rgb(0, 0, 0);
  border-radius: 50%;
  background-position: center;
  transition: all 0.5s ease;
}
.homep {
  color: whitesmoke;
}
