.litemaincontainer {
  font-family: "Roboto", sans-serif;
}
.litemain {
  display: flex;
  height: 80vh;
  padding: 50px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.litetext {
  flex: 1;
  font-size: 2rem;
  text-align: left;
  position: relative;
  top: 35%;
  left: 20px;
}
.litetext p {
  font-size: 1rem;
}
.litebutton {
  color: whitesmoke;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  transition: all 0.5s ease;
  line-height: 20px;
}
.litebutton:hover {
  background-color: whitesmoke;
  color: black;
}
.litecard {
  flex: 1;
  align-items: center;
  display: flex;
}
.liteimg {
  width: 700px;
  right: 0%;
  left: 15%;
  position: relative;
  height: 600px;
  background: url(../../img/img7.webp);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.lrow {
  background-color: whitesmoke;
  height: 100vh;
}
.litep {
  color: whitesmoke;
}
.lcol1 {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.lcol2 {
  display: flex;
  height: 85vh;
  justify-content: space-around;
}

.lcard2 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img6.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.lcard3 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background: url(../../img/img5.webp);
  background-size: cover;
  transition: all 0.5s ease;
}
.lcard4 {
  width: 600px;
  height: 700px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  background-image: url(../../img/img8.jpeg);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.litenav {
  width: 87vw;
  display: flex;
  align-items: center;
  padding-top: 1.5%;
  padding-left: 4%;
  padding-right: 60%;
  padding-bottom: 1.5%;
  position: fixed;
  z-index: 99;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}
.liteh2 {
  color: black;
  font-size: 2rem;
  padding: 20px;
  margin: 0px;
}
.liteh5 {
  text-align: left;
  color: whitesmoke;
}
