.gearrow {
  background: linear-gradient(rgb(0, 0, 0), whitesmoke);
}
.gearcard1 {
  height: 600px;
  padding: 2%;
  transition: all 0.5s ease;
}
.gearcard2 {
  height: 600px;
  padding: 2%;
  transition: all 0.5s ease;
}
.gearcard3 {
  padding: 2%;
  height: 600px;
  transition: all 0.5s ease;
}
.gearcard4 img {
  padding: 2%;
  height: 600px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}

.gearh1 {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-family: "metrolight";
  font-size: 4rem;
  padding-top: 30px;
  margin: 0px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245);
}

.swiper-slide {
  font-size: 18px;
  color: rgb(255, 255, 255);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.gearh5 {
  margin: 0px;
  font-family: "metrolight";
  font-size: 1.5rem;
  margin-top: 40px;
  color: black;
}
.slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.gearp {
  color: rgb(0, 0, 0);
}
.swiper3a {
  flex: 1;
}
.swiper3b {
  flex: 1;
}
.gearbutton {
  background: linear-gradient(whitesmoke, whitesmoke);
  border: 1px solid black;
}
